PRIVATE_KEY=
DOGEOS_RPC_URL=https://rpc.testnet.dogeos.com
PORT=3300
SUBGRAPH_URL=https://api.goldsky.com/api/public/project_cmupqw08z0f4301vmcyh60xs9/subgraphs/dogeos-pixel/prod/gn
SUBGRAPH_NETWORK=dogeos-testnet
